<a href="https://colab.research.google.com/github/Pramuuu/Futurense_ML/blob/main/11_08_2024_more_combined_and_specified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing requirement libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

# for solving problem of show plotly plots
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)
# Optional
# for filter warnings
import warnings
warnings.filterwarnings('ignore')
# for better plot visualization
plt.style.use('_mpl-gallery')
FONT = {'fontsize':20, 'fontstyle':'normal', 'fontfamily':'Times New Roman', 'backgroundcolor':'#145A32', 'color':'orange'} # for plot title

In [2]:
# importing requirement sklearn functions
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold, cross_val_score, train_test_split, GridSearchCV, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB, ComplementNB, BernoulliNB, CategoricalNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, auc, accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report, jaccard_score, log_loss

In [3]:
data7 = pd.read_excel('/content/consolidated_common_lead_ids.xlsx')
df7 = pd.DataFrame(data7)
df7

,lead_id,created_time,Ad Name,campaign_name,form_name,platform,lead_id.1,graduation_degree,graduation_percentage,work_experience,...,Offer Letter Submission Date,.9,Financials Submission,Financials Submission Date,i20 Provisioned,i20 Provisioned Date,Remarks,Status,SOP Status,.10
0,l:661607916150046,2023-12-07 08:31:00,#6 ( Graphic ) - Master's Degree In 12 Months,CBO - USP Masterclass Cold [ 23rd Nov ] - High...,BM - US pathway Webinar Form - Higher Intent -...,Facebook,l:661607916150046,others,65.0,no_work_experience,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,l:1293647514650937,2023-12-06 12:31:00,#6 ( Graphic ) - Master's Degree In 12 Months,USP Masterclass Cold [ 31st Oct ] - More Volum...,BM - US pathway Webinar Form - More Volume - N...,Facebook,l:1293647514650937,b.tech_it,70.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,l:332007029816868,2024-01-18 14:54:00,#1 ( Graphic ) - Want To Build Your Career In ...,USP Masterclass Cold [ 31st Oct ] - Higher Int...,BM - US pathway Webinar Form - Higher Intent -...,Facebook,l:332007029816868,others,65.0,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,l:1494951434689445,2023-12-01 12:13:00,#6 ( Graphic ) - Master's Degree In 12 Months,USP Masterclass Cold [ 31st Oct ] - More Volum...,BM - US pathway Webinar Form - More Volume - N...,Facebook,l:1494951434689445,m.tech,70.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,l:752473636818036,2024-01-29 08:34:00,USP_Drexel_3_Getpaid,USP_COOP-Drexel_More_Volume_No Logic_India_240124,BM - US pathway Webinar Form - More Volume - N...,Facebook,l:752473636818036,"b.tech_(civil,_eee,_mech._,_etc.)",60.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4304,l:733737222271914,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall (Dropped),NaN,NaN
4305,l:1547362259166875,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall (Dropped),NaN,NaN
4306,l:1347108042669193,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall,NaN,NaN
4307,l:430457079653387,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring 2025,NaN,NaN
4308,l:1441157749822520,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring 2025,NaN,NaN

In [4]:
import pandas as pd

# Example DataFrame df7 (Replace this with your actual DataFrame)
# Assuming df7 has columns like ['lead_id', 'column1', 'column2', ...]

# Step 1: Identify duplicated lead_ids in df7
duplicated_lead_ids = df7[df7['lead_id'].duplicated(keep=False)]

# Step 2: Initialize a new DataFrame to store merged rows
merged_df = pd.DataFrame()

# Step 3: Iterate over each unique lead_id with duplicates
for lead_id in duplicated_lead_ids['lead_id'].unique():
    # Filter rows with the current lead_id
    lead_id_rows = df7[df7['lead_id'] == lead_id]

    # Merge the rows by concatenating their respective column information
    merged_row = lead_id_rows.iloc[0]  # Start with the first occurrence
    for _, row in lead_id_rows.iloc[1:].iterrows():
        for col in df7.columns:
            if pd.notna(row[col]) and pd.isna(merged_row[col]):
                merged_row[col] = row[col]
            elif pd.notna(row[col]) and col != 'lead_id':
                merged_row[col] = str(merged_row[col]) + ' | ' + str(row[col])

    # Append the merged row to the new DataFrame
    merged_df = merged_df.append(merged_row, ignore_index=True)

# Step 4: Remove original duplicated rows from df7 and append merged rows
df7_non_duplicates = df7.drop_duplicates(subset='lead_id', keep=False)
final_df = pd.concat([df7_non_duplicates, merged_df], ignore_index=True)

# Step 5: Save the final DataFrame to a new Excel file
final_df.to_excel('final_merged_lead_ids.xlsx', index=False)

# Display the final DataFrame
print(final_df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [5]:
import pandas as pd

# Example DataFrame df7 (Replace this with your actual DataFrame)
# Assuming df7 has columns like ['lead_id', 'column1', 'column2', ...]

# Step 1: Identify duplicated lead_ids in df7
duplicated_lead_ids = df7[df7['lead_id'].duplicated(keep=False)]

# Step 2: Initialize a list to store merged rows
merged_rows = []

# Step 3: Iterate over each unique lead_id with duplicates
for lead_id in duplicated_lead_ids['lead_id'].unique():
    # Filter rows with the current lead_id
    lead_id_rows = df7[df7['lead_id'] == lead_id]

    # Merge the rows by concatenating their respective column information
    merged_row = lead_id_rows.iloc[0].copy()  # Start with the first occurrence
    for _, row in lead_id_rows.iloc[1:].iterrows():
        for col in df7.columns:
            if pd.notna(row[col]) and pd.isna(merged_row[col]):
                merged_row[col] = row[col]
            elif pd.notna(row[col]) and col != 'lead_id':
                merged_row[col] = str(merged_row[col]) + ' | ' + str(row[col])

    # Append the merged row to the list
    merged_rows.append(merged_row)

# Step 4: Convert the list of merged rows into a DataFrame
merged_df = pd.DataFrame(merged_rows)

# Step 5: Remove original duplicated rows from df7 and append merged rows
df7_non_duplicates = df7.drop_duplicates(subset='lead_id', keep=False)
final_df = pd.concat([df7_non_duplicates, merged_df], ignore_index=True)

# Step 6: Save the final DataFrame to a new Excel file
final_df.to_excel('final_merged_lead_ids.xlsx', index=False)

# Display the final DataFrame
print(final_df)

                                   lead_id        created_time  \
0                        l:661607916150046 2023-12-07 08:31:00
1                       l:1293647514650937 2023-12-06 12:31:00
2                        l:332007029816868 2024-01-18 14:54:00
3                       l:1494951434689445 2023-12-01 12:13:00
4                        l:752473636818036 2024-01-29 08:34:00
..                                     ...                 ...
93                       l:148440838363433 2024-01-19 10:24:00
94                      l:1354272388493234 2024-01-14 00:01:00
95  f83155d7-4eb8-4736-a873-1926990c5f41-3 2024-01-26 16:32:00
96                       l:315727981454081 2024-01-02 19:55:00
97                      l:1459340891384916 2024-03-23 01:14:00

                                              Ad Name  \
0       #6 ( Graphic ) - Master's Degree In 12 Months
1       #6 ( Graphic ) - Master's Degree In 12 Months
2   #1 ( Graphic ) - Want To Build Your Career In ...
3       #6 ( Graphic ) - Master's Degree In 12 Months
4                                USP_Drexel_3_Getpaid
..                                                ...
93      #6 ( Graphic ) - Master's Degree In 12 Months
94      #2 ( Graphic ) - State University Of New York
95            USP_Program_Linkedin_Static_C11_SB-3YWP
96                   #9 ( Graphic ) - Study In The US
97                         USP_kavita&steffi_VideoAd6

                                        campaign_name  \
0   CBO - USP Masterclass Cold [ 23rd Nov ] - High...
1   USP Masterclass Cold [ 31st Oct ] - More Volum...
2   USP Masterclass Cold [ 31st Oct ] - Higher Int...
3   USP Masterclass Cold [ 31st Oct ] - More Volum...
4   USP_COOP-Drexel_More_Volume_No Logic_India_240124
..                                                ...
93  USP Masterclass Cold [ 31st Oct ] - Higher Int...
94  USP Masterclass Cold [ 31st Oct ] - Higher Int...
95                     US_Pathway_2_Lead_gen_1_091123
96  USP Masterclass Cold [ 31st Oct ] - Higher Int...
97        USP_Marketing+MBA_New Leads Campaign_240224

                                            form_name  platform  \
0   BM - US pathway Webinar Form - Higher Intent -...  Facebook
1   BM - US pathway Webinar Form - More Volume - N...  Facebook
2   BM - US pathway Webinar Form - Higher Intent -...  Facebook
3   BM - US pathway Webinar Form - More Volume - N...  Facebook
4   BM - US pathway Webinar Form - More Volume - N...  Facebook
..                                                ...       ...
93  BM - US pathway Webinar Form - Higher Intent -...  Facebook
94  BM - US pathway Webinar Form - Higher Intent -...  Facebook
95               US Pathway Program final Form 110923  LinkedIn
96  BM - US pathway Webinar Form - Higher Intent -...  Facebook
97  BM - US pathway Webinar Form - More Volume - N...  Facebook

                                 lead_id.1                  graduation_degree  \
0                        l:661607916150046                             others
1                       l:1293647514650937                          b.tech_it
2                        l:332007029816868                             others
3                       l:1494951434689445                             m.tech
4                        l:752473636818036  b.tech_(civil,_eee,_mech._,_etc.)
..                                     ...                                ...
93                       l:148440838363433                             others
94                      l:1354272388493234                             others
95  f83155d7-4eb8-4736-a873-1926990c5f41-3                             M.Tech
96                       l:315727981454081  b.tech_(civil,_eee,_mech._,_etc.)
97                      l:1459340891384916  b.tech_(civil,_eee,_mech._,_etc.)

    graduation_percentage     work_experience  ...  \
0                    65.0  no_work_experience  ...
1                    70.0                   2  ...
2                    65.0                  12  ...
3                    70.0                   5  ...
4                    60.0                   3  ...
..                    ...                 ...  ...
93                   60.0                   3  ...
94                   50.0                   3  ...
95                   65.0                  10  ...
96                   50.0                   6  ...
97                   70.0  no_work_experience  ...

   Offer Letter Submission Date  .9 Financials Submission  \
0                           NaN NaN                   0.0
1                           NaN NaN                   0.0
2                           NaN NaN                   0.0
3                           NaN NaN                   0.0
4                           NaN NaN                   0.0
..                          ...  ..                   ...
93                          NaN NaN                   0.0
94                          NaN NaN                   0.0
95                          NaN NaN                   0.0
96                          NaN NaN                   0.0
97                          NaN NaN                   0.0

   Financials Submission Date i20 Provisioned  i20 Provisioned Date  \
0                         NaN             NaN                   NaN
1                         NaN             NaN                   NaN
2                         NaN         Awaited                   NaN
3                         NaN             NaN                   NaN
4                         NaN             NaN                   NaN
..                        ...             ...                   ...
93                        NaN             NaN                   NaN
94                        NaN             NaN                   NaN
95                        NaN         Awaited                   NaN
96                        NaN             NaN                   NaN
97                        NaN             NaN                   NaN

                 Remarks          Status SOP Status .10
0                    NaN     Spring 2025        NaN NaN
1                    NaN  Fall (Dropped)        NaN NaN
2   preparing financials            Fall        NaN NaN
3                    NaN  Fall (Dropped)        NaN NaN
4                    NaN  Fall (Dropped)        NaN NaN
..                   ...             ...        ...  ..
93                   NaN            Fall        NaN NaN
94                   NaN  Fall (Dropped)        NaN NaN
95                   NaN            Fall        NaN NaN
96                   NaN  Fall (Dropped)        NaN NaN
97                   NaN  Fall (Dropped)        NaN NaN

[98 rows x 197 columns]

In [6]:
import pandas as pd

# Example DataFrame df7 (Replace this with your actual DataFrame)
# Assuming df7 has columns like ['lead_id', 'column1', 'column2', ...]

# Step 1: Identify duplicated lead_ids in df7
duplicated_lead_ids = df7[df7['lead_id'].duplicated(keep=False)]

# Step 2: Initialize a list to store merged rows
merged_rows = []

# Step 3: Iterate over each unique lead_id with duplicates
for lead_id in duplicated_lead_ids['lead_id'].unique():
    # Filter rows with the current lead_id
    lead_id_rows = df7[df7['lead_id'] == lead_id]

    # Merge the rows by concatenating their respective column information
    merged_row = lead_id_rows.iloc[0].copy()  # Start with the first occurrence
    for _, row in lead_id_rows.iloc[1:].iterrows():
        for col in df7.columns:
            if pd.notna(row[col]):
                existing_values = set(str(merged_row[col]).split(' | ')) if pd.notna(merged_row[col]) else set()
                new_values = set(str(row[col]).split(' | '))
                merged_values = ' | '.join(sorted(existing_values.union(new_values)))
                merged_row[col] = merged_values

    # Append the merged row to the list
    merged_rows.append(merged_row)

# Step 4: Convert the list of merged rows into a DataFrame
merged_df = pd.DataFrame(merged_rows)

# Step 5: Remove original duplicated rows from df7 and append merged rows
df7_non_duplicates = df7.drop_duplicates(subset='lead_id', keep=False)
final_df = pd.concat([df7_non_duplicates, merged_df], ignore_index=True)

# Step 6: Save the final DataFrame to a new Excel file
final_df.to_excel('final_merged_lead_ids(123).xlsx', index=False)

# Display the final DataFrame
print(final_df)

                                   lead_id        created_time  \
0                        l:661607916150046 2023-12-07 08:31:00
1                       l:1293647514650937 2023-12-06 12:31:00
2                        l:332007029816868 2024-01-18 14:54:00
3                       l:1494951434689445 2023-12-01 12:13:00
4                        l:752473636818036 2024-01-29 08:34:00
..                                     ...                 ...
93                       l:148440838363433 2024-01-19 10:24:00
94                      l:1354272388493234 2024-01-14 00:01:00
95  f83155d7-4eb8-4736-a873-1926990c5f41-3 2024-01-26 16:32:00
96                       l:315727981454081 2024-01-02 19:55:00
97                      l:1459340891384916 2024-03-23 01:14:00

                                              Ad Name  \
0       #6 ( Graphic ) - Master's Degree In 12 Months
1       #6 ( Graphic ) - Master's Degree In 12 Months
2   #1 ( Graphic ) - Want To Build Your Career In ...
3       #6 ( Graphic ) - Master's Degree In 12 Months
4                                USP_Drexel_3_Getpaid
..                                                ...
93      #6 ( Graphic ) - Master's Degree In 12 Months
94      #2 ( Graphic ) - State University Of New York
95            USP_Program_Linkedin_Static_C11_SB-3YWP
96                   #9 ( Graphic ) - Study In The US
97                         USP_kavita&steffi_VideoAd6

                                        campaign_name  \
0   CBO - USP Masterclass Cold [ 23rd Nov ] - High...
1   USP Masterclass Cold [ 31st Oct ] - More Volum...
2   USP Masterclass Cold [ 31st Oct ] - Higher Int...
3   USP Masterclass Cold [ 31st Oct ] - More Volum...
4   USP_COOP-Drexel_More_Volume_No Logic_India_240124
..                                                ...
93  USP Masterclass Cold [ 31st Oct ] - Higher Int...
94  USP Masterclass Cold [ 31st Oct ] - Higher Int...
95                     US_Pathway_2_Lead_gen_1_091123
96  USP Masterclass Cold [ 31st Oct ] - Higher Int...
97        USP_Marketing+MBA_New Leads Campaign_240224

                                            form_name  platform  \
0   BM - US pathway Webinar Form - Higher Intent -...  Facebook
1   BM - US pathway Webinar Form - More Volume - N...  Facebook
2   BM - US pathway Webinar Form - Higher Intent -...  Facebook
3   BM - US pathway Webinar Form - More Volume - N...  Facebook
4   BM - US pathway Webinar Form - More Volume - N...  Facebook
..                                                ...       ...
93  BM - US pathway Webinar Form - Higher Intent -...  Facebook
94  BM - US pathway Webinar Form - Higher Intent -...  Facebook
95               US Pathway Program final Form 110923  LinkedIn
96  BM - US pathway Webinar Form - Higher Intent -...  Facebook
97  BM - US pathway Webinar Form - More Volume - N...  Facebook

                                 lead_id.1                  graduation_degree  \
0                        l:661607916150046                             others
1                       l:1293647514650937                          b.tech_it
2                        l:332007029816868                             others
3                       l:1494951434689445                             m.tech
4                        l:752473636818036  b.tech_(civil,_eee,_mech._,_etc.)
..                                     ...                                ...
93                       l:148440838363433                             others
94                      l:1354272388493234                             others
95  f83155d7-4eb8-4736-a873-1926990c5f41-3                             M.Tech
96                       l:315727981454081  b.tech_(civil,_eee,_mech._,_etc.)
97                      l:1459340891384916  b.tech_(civil,_eee,_mech._,_etc.)

    graduation_percentage     work_experience  ...  \
0                    65.0  no_work_experience  ...
1                    70.0                   2  ...
2                    65.0                  12  ...
3                    70.0                   5  ...
4                    60.0                   3  ...
..                    ...                 ...  ...
93                   60.0                   3  ...
94                   50.0                   3  ...
95                   65.0                  10  ...
96                   50.0                   6  ...
97                   70.0  no_work_experience  ...

   Offer Letter Submission Date  .9 Financials Submission  \
0                           NaN NaN                   0.0
1                           NaN NaN                   0.0
2                           NaN NaN                   0.0
3                           NaN NaN                   0.0
4                           NaN NaN                   0.0
..                          ...  ..                   ...
93                          NaN NaN                   0.0
94                          NaN NaN                   0.0
95                          NaN NaN                   0.0
96                          NaN NaN                   0.0
97                          NaN NaN                   0.0

   Financials Submission Date i20 Provisioned  i20 Provisioned Date  \
0                         NaN             NaN                   NaN
1                         NaN             NaN                   NaN
2                         NaN         Awaited                   NaN
3                         NaN             NaN                   NaN
4                         NaN             NaN                   NaN
..                        ...             ...                   ...
93                        NaN             NaN                   NaN
94                        NaN             NaN                   NaN
95                        NaN         Awaited                   NaN
96                        NaN             NaN                   NaN
97                        NaN             NaN                   NaN

                 Remarks          Status SOP Status .10
0                    NaN     Spring 2025        NaN NaN
1                    NaN  Fall (Dropped)        NaN NaN
2   preparing financials            Fall        NaN NaN
3                    NaN  Fall (Dropped)        NaN NaN
4                    NaN  Fall (Dropped)        NaN NaN
..                   ...             ...        ...  ..
93                   NaN            Fall        NaN NaN
94                   NaN  Fall (Dropped)        NaN NaN
95                   NaN            Fall        NaN NaN
96                   NaN  Fall (Dropped)        NaN NaN
97                   NaN  Fall (Dropped)        NaN NaN

[98 rows x 197 columns]